root: '/mnt/backup/'
backups:
  root:
    backup_dir: 'root'
    root: '/'
    age: '1h'
    filters:
      - '- /dev/**'
      - '- /media/**'
      - '- /mnt/**'
      - '- /home/**'
      - '- /sys/**'
      - '- /proc/**'
      - '- /run/**'
      - '- /tmp/**'
      - '- /var/tmp/**'
      - '- /var/run/**'
      - '- /var/lock/**'
      - '+ /var/cache/debconf/***'
      - '- /var/cache/**'
      - '- /var/backup/**'
      - '- /var/crash/**'
      - '- /var/spool/cups/**'
      - '- /var/log/samba/**'
      - '- /var/lib/apt/lists/**'
      - '- /var/lib/sudo/**'
  home:
    backup_dir: 'home'
    root: '/home/'
    age: '1h'
    filters:
      - '- /*/.gvfs'
      - '- /*/.thumbnails'
      - '- /*/.local/share/Trash/**'
      - '- /*/.adobe'
      - '- /*/.cache'
      - '- /*/.fontconfig'
      - '- /*/.mozilla/firefox*/*/Cache/**'
      - '- /*/.cpan/build/**'
      - '- /*/.cpanm'
      - '- /*/.cpanplus'
      - '- /*/.compiz'
      - '- /*/.npm'
      - '- /*/.xsession-errors*'
      - '- /*/tmp/**'
      - '- /*/Downloads/*.iso'
